<nb-layout center>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <h1 style="margin:10px auto;">TIC-TAC-TOE</h1><br>
    <p style="margin:10px auto;">Sample application built using Angular.js and Nebular UI Kit</p>
  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <h6 style="margin:10px auto;">Made with ❤️ <a href="https://github.com/ianasqazi" rel="noopener noreferrer"
        target="_blank">@ianasqazi</a></h6>
  </nb-layout-footer>

</nb-layout>