<nb-layout>

  <nb-layout-header fixed center>
    <h1 style="margin:auto;">TIC-TAC-TOE</h1>
  </nb-layout-header>

  <nb-layout-column>
    <p style="margin:auto; width: 100%; text-align: center;">Sample application built using Angular.js and Nebular UI
      Kit</p>
    <br><br>

    <app-board></app-board>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed center>
    <h6 style="margin:0 auto;">Made with ❤️ <a href="https://github.com/ianasqazi" rel="noopener noreferrer"
        target="_blank">@ianasqazi</a></h6>
  </nb-layout-footer>

</nb-layout>